[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # release: a hash containing data about new releases, if any.
  #%]

[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla 主页"
   header = "主页" 
   header_addl_info = "版本 $constants.BUGZILLA_VERSION"
%]

[% IF release %]
  <div id="new_release">
    [% IF release.data %]
      [% IF release.deprecated %]
        <p>不受支持的Bugzilla 版本 [%+ release.deprecated FILTER html %].为了您的安全，请升级版本.</p>
      [% END %]

      <p>发现新的Bugzilla 版本 ([% release.data.latest_ver FILTER html %])，可以在
      <a href="[% release.data.url FILTER html %]">[% release.data.url FILTER html %]</a>下载.<br>
      版本发布日期: [% release.data.date FILTER html %]</p>

      <p class="notice">这条消息仅在有管理权限的用户登录时显示。您可以通过
      <a href="editparams.cgi?section=general#upgrade_notification_desc">个性化</a>页面管理通知信息。</p>
    [% ELSIF release.error == "cannot_download" %]
      <p>The remote file <a href="[% constants.REMOTE_FILE FILTER html %]">
      [%~ constants.REMOTE_FILE FILTER html %]</a> cannot be downloaded
      (reason: [% release.reason FILTER html %]).<br>
      Either the remote server is temporarily unavailable, or your web server cannot access
      the web. If you are behind a proxy, set the
      <a href="editparams.cgi?section=advanced#proxy_url_desc">proxy_url</a> parameter correctly.</p>
    [% ELSIF release.error == "no_write" %]
      <p>The local XML file '[% constants.LOCAL_FILE FILTER html %]' cannot be created
      (reason: [% release.reason FILTER html %]).<br>
      Please make sure the web server can write into this directory.
    [% ELSIF release.error == "no_update" %]
      <p>The local XML file '[% constants.LOCAL_FILE FILTER html %]' cannot be updated.
      Please make sure the web server can edit this file.</p>
    [% ELSIF release.error == "no_access" %]
      <p>The local XML file '[% constants.LOCAL_FILE FILTER html %]' cannot be read.
      Please make sure this file has the correct rights set on it.</p>
    [% ELSIF release.error == "corrupted" %]
      <p>The local XML file '[% constants.LOCAL_FILE FILTER html %]' has an invalid XML format.
      Please delete it and try accessing this page again.</p>
    [% ELSIF release.error == "unknown_parameter" %]
      <p>'[% Param("upgrade_notification") FILTER html %]' is not a valid notification
      parameter. Please check this parameter in the
      <a href="editparams.cgi?section=general#upgrade_notification_desc">Parameters</a> page.</p>
    [% END %]
  </div>
[% END %]

<div id="page-index">
  <h1 id="welcome"> 欢迎来到 [% terms.Bugzilla %]</h1>
  <div class="intro">[% Hook.process('intro') %]</div>

  <div class="bz_common_actions">
    <ul>
      <li>
        <a id="enter_bug" href="enter_bug.cgi"><span>提交[% terms.aBug %]</span></a>
      </li>
      <li>
        <a id="query" href="query.cgi"><span>查询</span></a>
      </li>
      <li>
        <a id="account"
          [% IF user.id %]
            href="userprefs.cgi"><span>个性化</span></a>
          [% ELSIF Param('createemailregexp') && user.authorizer.user_can_create_account %]
            href="createaccount.cgi"><span>创建新账号</span></a>
          [% ELSE %]
            href="?GoAheadAndLogIn=1"><span>登录</span></a>
          [% END %]
      </li>
      <li>
        <a id="help" href="[% docs_urlbase FILTER html %]using/index.html"><span>使用帮助</span></a>
      </li>
    </ul>
  </div>

  <div>
    <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi">
      <input id="quicksearch_main" name="quicksearch" title="快速查询"
             placeholder="可以直接输入[% terms.abug %]#的编号或者[% terms.abug %]内容进行快速查询"
             autofocus required>
      <input id="find" type="submit" value="快速查询">
      <a href="page.cgi?id=quicksearch.html" title="快速查询帮助">[?]</a>
    </form>

    <ul class="additional_links">
      [% Hook.process('additional_links') %]
    </ul>
  </div>

  <div id="common_queries">
    <h4>常用内容:</h4>
    <ul>
      [% IF user.id %]
        <li>
          [% title = BLOCK %]指派给我的[% terms.bugs %][% END %]
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% assignee_count FILTER html %])
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        <li>
          [% title = BLOCK %]回复给我的[% terms.bugs %][% END %]
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% reporter_count FILTER html %])
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        [% IF Bugzilla.has_flags %]
          <li>
            [% title = BLOCK %]Requests addressed to me[% END %]
            <a href="request.cgi?action=queue&amp;requestee=[% user.login FILTER uri %]&amp;group=type&amp;do_union=0">
              [% title FILTER html %]</a> ([% requestee_count FILTER html %])
            <a href="buglist.cgi?f1=requestees.login_name&amp;o1=equals&amp;v1=%25user%25&amp;ctype=atom&amp;title=[% title FILTER uri %]"
               class="rss">&nbsp;</a>
          </li>
        [% END %]
      [% END %]

      <li>
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h">最近一天内提交的[% terms.Bugs %]</a>
        [% title = BLOCK %]订阅最近一天内提交的[% terms.Bugs %][% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d">最近一周内提交的[% terms.Bugs %]</a>
        [% title = BLOCK %]订阅最近一周内提交的[% terms.Bugs %][% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
           
      </li>
      <li>
        <a href="buglist.cgi?chfieldfrom=24h">最近一天内变更的[% terms.Bugs %]</a>
        [% title = BLOCK %]订阅最近一天内变更的[% terms.Bugs %][% END %]
        <a href="buglist.cgi?chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfieldfrom=7d">最近一周内变更的[% terms.Bugs %]</a>
        [% title = BLOCK %]订阅最近一周内变更的[% terms.Bugs %][% END %]
        <a href="buglist.cgi?chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
      </li>
    </ul>
  </div>

  <div class="outro">[% Hook.process('outro') %]</div>
</div>

[% PROCESS global/footer.html.tmpl %]
